/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 16, 2017, 9:20:07 AM
    Author     : Nahla
*/
:root{
    font-size: 16px;
}

body
{
    font-weight: bold !important;
    font-family: 'Tangerine', 'Tw Cen MT',serif !important;
    background: #F9FFEA !important;
}
/* navbar */
#logo
{
    margin-left: 0.3125rem;
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
}
#header_container
{
    margin-bottom: 0.125rem;
    margin-top: 0.125rem;
}
.navbar-nav{   
    border-radius: 0.3125rem;
    border: 0.0625rem solid #D4A5A5 !important;
}
.navbar.navbar-default
{
    background: #FFECDA !important;
}
.pagination > li > a, .pagination > li > span{
    color:#F9FFEA !important;
    background-color: #FFECDA !important;  
    border: 0.0625rem solid #FFECDA !important;
}
.navbar.navbar-default > .container{
    background-color: transparent;
}
.navbar{
    margin-top: 0.125rem;
}
.nav.navbar-nav.navbar-right > li a:hover {
    border-radius: 0.3125rem;
    background-color:rgba(249, 255, 234,0.2);
}

/* Footer */
.footer {
    background: transparent !important;
}
.fa {
    padding-top: 0.3125rem;
}

.footer a:hover {
    color: white;
}
.footer a {
    font-size: 1.25rem;
    padding: 0.625rem;
    transition: all .5s ease;
}
/* Fonts */
.navbar-text, a, h1,p, .close , .footer a{
    color: #D4A5A5 !important;
}
h1{
    font-weight: bold !important;
    line-height: 1.1 !important;
    border-radius: 0.3125rem;
    display:inline-block;
    font-size: 2.625rem !important;
}           
p{
    font-size: 2rem !important;
    display: inline-block !important;
    padding:0.625rem;
} 

#headerStyle
{
    padding: 0.3125rem !important ;
    border: 0.0625rem solid #D4A5A5 !important;
}



.button:hover {
    background-color: #D4A5A5;
    color: white;
}

.btn.btn-default {
    margin-top: 0.4375rem;
    font-weight: bold;
    background-color:#D4A5A5 !important; 
    color:#F9FFEA !important;
    border-radius: 0.5rem;
    font-size: 2rem;
    padding: 0.125rem 0.9375rem;
}

.container{
    background: #FFECDA;
    border-radius: 0.3125rem;
}

.row > .col-md-4 > img{
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    border-radius: 0.3125rem;
}

.hovereffect{
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}
.hoverflipeffect:hover img {
    cursor: pointer;
}
.hovereffect:hover img 
{
    cursor: pointer;
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 6.25rem; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.9); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    padding-bottom: 5%;
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    height:100%;
}
.modal-content2 {
    margin: auto;
    display: block;
    height: 100%;
    max-width: 31.25rem;
    
}

.close {
    position: absolute;
    top: 0.9375rem;
    right: 2.1875rem;
    font-size: 2.5rem;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

img, .img-responsive{
    border-radius: 0.3125rem !important;
}

#imageBorder
{
    border: 1px solid #D4A5A5 !important;
    border-radius: 0.3125rem;
    padding: 0.3125rem;
    margin: 1%;
}

 .hoverflipeffect{
    height: 13.75rem;
    width: 18.75rem;
    cursor:pointer;
}
/* Flip photo */

.flipCard{
    height: 22.5rem;
    width: 18.75rem;
    position: relative;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
.flipCard:hover {
  transform: rotatey(180deg);
  -webkit-transform: rotatey(180deg);
  -moz-transform: rotatey(180deg);
  -ms-transform: rotatey(180deg);
  -o-transform: rotatey(180deg);
}

.flipCard .front
{
    padding-right: 3.5%;
}

.flipCard .front, .flipCard .back {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

.flipCard .front img, .flipCard .back img{
    height: 100%
    width: 100%;
    border-radius: 0.3125rem;
    overflow:hidden;

    background-color: transparent;
}
.flipCard .back {
    padding-left: 3.5%;
    transform: rotatey(180deg);
    -webkit-transform: rotatey(180deg);
    -moz-transform: rotatey(180deg);
    -ms-transform: rotatey(180deg);
    -o-transform: rotatey(180deg);
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
  .mobile{
    position: relative;
    left: 50%;
    margin-left: -3.125rem !important; 
    display: block;
    padding-top: 0;
  }
}
.nav-font-size{
    font-size: 2rem;
}
.nav-list{
    margin-top: 0.9375rem;
    margin-right: 0.3125rem;
}
.navbar-header > h1 {
    text-align: left !important;
}
.carousel-container{
    margin-bottom:1%; 
    padding-bottom: 0.3125rem;
    padding-top: 0.3125rem;
}
.about-parag-style{
    margin: 5%;
    border-radius: 0.3125rem;
    border: 1px solid #D4A5A5 !important;
}